body {
  background-color: #111;
  padding: 50px;
}

.digit>.digit__row>div {
  width: 10px;
  height: 10px;
}

.interface--small .digit>.digit__row>div {
  width: 5px;
  height: 5px;
}

.digit>.digit__row {
  display: flex;
}

.digit>.digit__row :nth-child(2) {
  width: 40px;
}

.interface--small .digit>.digit__row :nth-child(2) {
  width: 20px;
}

.digit>.digit__row .digit__line {
  background-color: #333;
}

.digit>.digit__row .digit__line.digit__line--active {
  background-color: #9cff00;
}

.digit>.digit__row.digit__row--vertical div {
  height: 40px;
}

.interface--small .digit>.digit__row.digit__row--vertical div {
  height: 20px;
}

.interface {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interface--small {
  height: 55px;
}

.interface .interface__wrapper {
  display: flex;
  height: 110px;
}

.interface__divider {
  height: 110px;
  width: 14px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.interface--small .interface__divider {
  width: 7px;
  margin: 0 10px;
}

.interface__divider div {
  width: 14px;
  height: 14px;
  background-color: #333;
}

.interface--small .interface__divider div {
  width: 7px;
  height: 7px;
}

.interface__digits-group {
  height: 110px;
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.interface--small .interface__digits-group {
  width: 65px;
}

.interface__digit {
  width: 60px;
  height: 110px;
}

.interface--small .interface__digit {
  width: 30px;
}

.interface--small,
.interface--small .interface__digit,
.interface--small .interface__digits-group,
.interface--small .interface__divider,
.interface--small .interface__wrapper {
  height: 55px;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
  width: 140px;
  height: 140px;
  color: #9cff00;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid rgb(235, 121, 46);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

button.disabled {
  color: rgb(235, 121, 46);
  cursor: default;
}

button:not(.disabled):hover {
  border-color: #9cff00;
  box-shadow: 0px 0px 5px #9cff00;
}

.controller {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller .controller__wrapper {
  display: flex;
  justify-content: space-between;
  width: 325px;
}

#time-list {
  margin-top: 50px;
}

.interface--small {
  margin-bottom: 20px;
}